<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.ui.navigate.linkWithEditor"
            class="com.xakcop.linkwitheditor.handlers.LinkWithEditorHandler">
      </handler>
   </extension>

</plugin>
